
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
   
    
                        <h1 style="color: red; font-size:150px; text-align:center";>page not found</h1>
                        <h1 style="text-align: center;">{{errormsg}}</h1>
                        
                   

    <!-- footer -->

  </body>
  </html>

