<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!--  main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10  col-12  mx-auto">
                <div class="row">
                    <!--  left side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <h1 style="margin-bottom: 60px;">About us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero repudiandae quam dolorum quo
                            fuga eos ex cum sapiente. Est porro nostrum blanditiis repellat, voluptatem modi praesentium
                            commodi provident. Repellendus,mollitia mollitia end.</p>
                        <a style="margin-bottom: 50px;" href="https://www.thapatechnical.com/" target="_blank"><button>About me</button></a>
                    </div>
                    <!--  right side div -->




                </div>


            </div>
        </div>
    </div>

    <!-- footer -->
  {{>footer}}

</body>

</html>