<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
   {{>navbar}}
    <!--  main header -->
    
                 <!--  left side div -->
            <div class="col-md-6 col-12 main-header-left">  
                <p>Welcome to the weather App</p>
                <h1>Get latest <span class="text-color">information</span></h1>
                <a href="/weather"><button>Check now</button></a>
            </div>
                 <!--  right side div -->
           



            </div>


                </div>
                </div>
                </div>

    <!-- footer -->
  {{>footer}}

</body>

</html>