<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!--  main header -->
    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="main-content">
                    <form class="temp-form">
                        <input type="text" name="" id="cityname" placeholder="Enter city name">
                        <input type="submit" value="search" id="submitbtn">

                    </form>



                </div>
                <div class="temp-info">
                    <div class="top-layer">
                        <p id="day">teusday</p>
                        <p id="todayDate">1.2.2021</p>
                    </div>
                    <div class="main-layer">
                        <p id="city-data"> get output here</p>
                        <div class="middle-layer  data-hide">
                            <p id="temp"><span>0</span><sup>o</sup>C</p>
                            <p id="tem-status"><i class="fa fa-cloud"></i></p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
<script src="js/main.js"></script>
</body>

</html>