
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}

html{
    font-size: 62.5%; 
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.row{
    margin: 0px;
}
.main-menu{
    background-color: var(--main-bg);
}
.navbar{
    color: white;
    background-color: var(--main-bg);
    padding: 2rem 0;
}
.navbar a{
    color: white;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-color);

}
.navbar li a{
    margin-left: 2rem;
    
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);

}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.main-header-left{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 250px;
    
}
.main-header-left p{
    font-size: 2rem;


}
.main-header-left h1{
    font-size: 4rem;
    text-transform: capitalize;
    
}
.main-header-left .text-color{
    color: var(--main-color);
}
.main-header-left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    margin-top: 3rem;
    box-shadow: 0 8px  6px -6px black;

}

.main-header-left button:hover{
    box-shadow: 0 8px  6px -6px var(--main-color);
}

footer{
    width: 100%;
    background-color: var(--main-color);
margin-top: auto;}
    footer P{
    text-align: center;
    line-height: 7rem;
    font-size: 2.4rem;


}

.temp-info{
    width: 50rem;
    margin: auto;
    min-height: 30rem;
    background-color: rgb(172, 99, 201);
    border-radius: 1rem;
    padding:1rem;
    margin-top: 1rem;
}
.top-layer{
    width: 100%;
    height: 20%;
    background-color: rgb(43, 37, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    font-size: 3rem;
    
}
.top-layer p{
color: white;
font-weight: 300;

}
.main-layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    

}
.main-layer #city-data{
    padding: 2rem 0;
    color: white;
    font-weight: 350;
    font-size: 2.5rem;
    text-align: center;
}
.main-layer .middle-layer {
    display: flex;
    justify-content: space-around;
    color: white;

}

.main-layer .middle-layer p{
font-size: 7rem;
font-weight: 900;
}

.main-layer .middle-layer .fa{
    font-size: 7rem;
    font-weight: 900;
    }
    .fa{
        color: rgb(85, 184, 241);
    }
    sup{
        font-size: 6rem;
        margin-top: -2rem;

    }
    .data-hide{
        
        transition: all 0.3s linear;
    }
    .temp-form{
        width: 60%;
        position: relative;
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .temp-form input[type="text"]{
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        background-color: #073c6efa;
        color: white;
        outline: none;
        border: none;
        font-size: 1.7rem;
        border-radius: 3rem;

    }
    ::placeholder{
        color: white;
        text-align: center;
    }

    .temp-form input[type="submit"]{
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        border: none;
        background-color: var(--main-color);
        padding: 0 3rem;
        border-radius: 3rem;
        color: white;
        font-size: 1.6rem;
    }


    



